/* static/css/base.css */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 􏰃􏰍18px;
}

header {
  display: flex;
  border-bottom: 0.1rem solid;
  margin-bottom: 􏰁2em;
  }

header h1 a {
  color: red;
  text-decoration: none;
}

.nav-left {
  margin-right: auto;
}

.nav-right {
  display: flex;
  padding-top: 􏰁2em;
}

.post-entry {
  padding: .1em;
}

.post-entry h2 {
  color: blue;
  padding: .1em;
}

.post-entry h2 a, .post-entry h2 a:visited {
  color: blue;
  text-decoration: none;
}

.post-entry p {
  margin: 0􏰆;
  font-size: 18px;
}

.post-entry h2 a:hover {
  color: red;
}
